*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    background-color: var(--very-light-gray);
    }

:root {
    --dark-green: #617060;
    --very-light-gray: #EDEDED;
 }

 ::-webkit-scrollbar {
    width:10px  
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-green)
}

 body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    color: var(--dark-green)
 }

 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color:var(--dark-green);
}

 nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    min-width: 400px;
    color: var(--very-light-gray);
    background-color: transparent;
 }
  

h1, nav, nav ul, nav a {
    color: var(--very-light-gray);
    background-color: transparent;
}

h1 {
    font-size: 40px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    min-width: 400px;
}

.circular--portrait { 
    position: relative; 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
    margin: 1%;
} 

.circular--portrait img { 
    width: 100%; 
    height: auto; 
    /* flip horizontally */
    transform: scaleX(-1);
}

 article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 25px;
 }

h3 {
    display: flex;
    flex-direction: row;
    width: 10%;
    justify-content: flex-end;
    font-size: 30px;
 }

 p {
    display: flex;
    font-size: 20px;
    color: var(--dark-green);
    Position: relative;
 }
  
 .about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    margin-left: 100px;
 }

  
 .webdev {
    display: flex;
    position: absolute;
    top: 10%;
    right: 1%;
    font-size: 36px;
 }

 .txtover { 
    position:relative;
    color: var(--dark-green);
} 

.txtover figcaption { 
    position:absolute; 
    bottom: 8px; 
    left:5px;
}

 .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    margin: 25px 0 0 100px;
 }

 .card1 {
    flex-direction: row;
    border: 5px solid var(--dark-green);
    padding: 10px;
 }
  
 .cards {
    flex: wrap;
    border: 5px solid var(--dark-green);
    margin: 0px 0px 25px 5px; 
    padding: 10px;
 }

.contact-links ul, .contact-links a {
    margin: 100px;
    justify-content: space-evenly;
    color: var(--dark-green)
    
 }
 
footer {
    Display: flex;
    margin: auto;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
 }

 @media screen and (max-width: 768px) {
    header {
        flex-direction: column;
      }
      main {
        max-width: 768px;
        
      }

 }
  
 @media screen and (max-width: 390px) {
    body {
        flex-direction: column;
        text-align:center;
    }
    article {
        text-align: center;
    }